.header,
.slider,
.feature,
.banner {
  padding: 10px;
  border: 1px solid #222;
  color: #222;
  background: #eeeeff;
}

.bannerWrap {
  height: 40px;
}

.banner {
  height: 100%;
  background: #888899;
  font-size: 14px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.highlighted {
  background: #888899;
}
